/* alinhar */
.lista-livros {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.search-input {
    padding: 8px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}   

.imageLivros {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
